
.navbarMenuMain {
    padding-bottom: 30px;
}
.navbarMenu {
    padding-top: 12px;
}
.messageShow {
     margin-top: 4.5rem !important;
     justify-content: center !important;
     text-align: center !important;
 }
